/***** Messages *************/
.my-breadcrumb {
    padding: 0;
    margin-bottom: 10px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 14px; }
  
  .welcome-msg h1 {
    font-size: 24px; }
  
  .welcome-msg p {
    font-size: 14px; }